@model DataBase.API.Models.User
<!DOCTYPE html>
<html>
    <body>
        <h2>User data</h2>
        <tabel>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                </tr>
            </tbody>
        </tabel>
    </body>
</html>
